// _services.scss
.services {
    padding: 2rem;

    h2 {
        text-align: center;
        color: $secondary-color;
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: none;

        li {
            margin-bottom: 0.5rem;
            text-align: center;
            font-size: 1.2rem;
            color: $secondary-color;
        }
    }
}
