* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(226, 226, 226);
}

@font-face {
  font-family: "RedRose";
  src: url("./assets/fonts/RedRose-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RedRoseBold";
  src: url("../assets/fonts/RedRose-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  position: relative;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1380px;
  margin: 0 auto;
  border-radius: 0 0 40px 40px;
}
.header .header-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.header .header-content .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-top: 10px;
}
.header .header-content .logo-container .logo {
  width: 150px;
  height: auto;
}
.header .header-content .logo-container .site-title {
  position: absolute;
  font-size: clamp(22px, 4vw, 42px);
  color: #254295;
  margin-top: 110px;
  margin-left: 5px;
  font-family: Lato;
}
.header .header-content .logo-container .site-title span {
  color: red;
}
.header .header-content .floating-image {
  position: absolute;
  bottom: 0;
  left: 9rem;
  width: auto;
  max-width: 550px;
  height: 20rem;
}
.header .header-content .header-subtitle {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  font-size: clamp(29px, 3vw, 38px);
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 30px;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.services {
  font-family: Lato;
  padding: 40px 20px;
  text-align: center;
}
.services .services-container {
  max-width: 800px;
  margin: 0 auto;
}
.services .services-container .services-text {
  font-size: clamp(24px, 2vw, 20px);
  color: rgb(8, 71, 104);
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 28px;
  font-family: Lato;
}
.services .services-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #254295;
  color: #fff;
  text-decoration: none;
  font-size: clamp(16px, 2vw, 18px);
  padding: 15px 20px;
  border-radius: 35px;
  margin-bottom: 20px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.services .services-container .btn:hover {
  background-color: #1e3a7d;
}
.services .services-container .btn .btn-icon {
  width: 39px;
  height: auto;
}
.services .services-container .btn-call {
  background-color: rgb(215, 0, 17);
  font-size: clamp(30px, 2vw, 20px);
  width: 300px;
  margin: 20px auto;
}
.services .services-container .btn-call:hover {
  background-color: #218838;
}
.services .services-container .btn-urgence {
  background-color: rgb(215, 0, 17);
  font-size: clamp(22px, 2vw, 20px);
  text-align: center;
  border-radius: 50px;
  height: 65px;
}
.services .services-container .btn-urgence:hover {
  background-color: #c82333;
}
.services .services-container .btn-urgence .btn-icon-urgency {
  width: 80px;
  position: absolute;
  left: 10px;
}/*# sourceMappingURL=main.css.map */